.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -50px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

.highlight {
  font-size: 75px;
  color: #003f5c;
}

.divider-up {
  width: 1000px;
  height: 2px;
  background-color: #003f5c;
  margin-bottom: 30px;
}

.divider-down {
  width: 1000px;
  height: 2px;
  background-color: #003f5c;
  margin-top: 30px;
}

.tab-container {
  display: flex;
  width: 1000px;
  height: 65px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 30px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 15px;
  font-size: 25px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border: none;
}

.tab.active {
  background-color: #003f5c;
  color: white;
  font-weight: bold;
}

.form-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  width: 1000px;
  margin-top: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 800px;
  gap: 30px;
}

.input-container2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 800px;
  gap: 30px;
  margin-top: 40px;
}

.input-box {
 width: 100%;
 padding: 15px;
 font-size: 18px;
 border: 1px solid #ccc;
}

.login-button {
  width: 220px;
  height: 220px;
  padding: 12px;
  font-size: 30px;
  font-weight: bold;
  background-color: #003f5c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 30px;
}

.login-button:hover {
  background-color: #002a42;
}

/* 회원가입 링크 */
.register {
  width: 1000px;
  margin-top: 30px;
  font-size: 18px;
  text-align: right;
}

.register:hover {
  color: #002a42;
}