.footer {
  background-color: #003f66;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 50px;
}

.footer-top {
  font-size: 18px;
  margin-top: 30px;
}

.footer-top i {
  margin-right: 15px;
}

.highlight-num {
  font-size: 22px;
  font-weight: bold;
}

.footer-top span {
  margin-right: 50px; 
}

.footer-info {
  font-size: 13px;
  margin-top: 50px;
}